@page
@using System.Diagnostics.Eventing.Reader
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<body class="landing is-preload">
	<section id="banner">
		<h2>DuelSys</h2>
		<p>Explore the world of sport tournaments.</p>
		<ul class="actions special">
			<li><a href="Register" class="button primary">Register</a></li>
			<li><a href="Login" class="button">Login</a></li>
		</ul>
	</section>

	<section id="main" class="container">

		<section class="box special">
			<header class="major">
				<h2>
					Introducing the ultimate sport tournaments platform.
				</h2>
			</header>
			<span class="image featured"><img src="img/pic01.jpg" alt="" /></span>
		</section>
	</section>
</body>
