@page
@model LogoutModel
@{
	ViewData["Title"] = "Logout";
	string url = Model.ReturnUrl ?? "/Index";
}
<header id="header"></header>
<form method="post">
	<section id="main" class="container d-flex justify-content-center ">
		<div role="main" class="pb-3">
			<h2>Are you sure you want to logout?</h2>
			<div class="row align-content-center">
				<div class="col align-center">
					<button class="button" asp-page-handler="Logout">Yes</button>
				</div>
				<div class="col">
					<button class="button" type="submit">No</button>
				</div>
			</div>
		</div>
	</section>
</form>

