@page
@model DuelSys_inc_WebApp.Pages.Shared.RoundRobinMatchesModel
@{
	var players = Model.TournamentService.GetAllUsersRegisteredToTournamentByTournamentId(1);
	var blank = 0;
}
<div class="container" id="page-wrapper">
	<table>
		<tr>
			<th>Player</th>
			<th>Result</th>
		</tr>
		@foreach (var p in players)
		{
			<tr>
				<td>
					<span>@p.FirstName @p.LastName</span>
				</td>
				@for (var i = 0; i < players.Count; i++)
				{
					if (blank == i)
					{
						<td></td>
					}
					else
					{
						<td><input type="text" /></td>
					}
				}
			</tr>
			blank++;
		}
	</table>
	<form method="post">
		@if (HttpContext.User.IsInRole("admin"))
		{
			<button type="submit">Add result</button>
		}
	</form>
</div>