@page
@model RoundRobinMatchesModel
@{
	var playerMatches = Model.MatchService.GetAllMatchesPerPlayer(1);
	var row = 0;
	var cell = row;
}
<div class="container" id="page-wrapper">
	<table>
		<tr>
			<th>Player</th>
			<th>Result</th>
		</tr>
		@foreach (var pm in playerMatches)
		{
			<tr>
				<td>@pm.Key</td>
				@foreach (var m in pm.Value)
				{
					if (cell == row)
					{
						cell += 1;
						<td></td>
					}
					cell += 1;
					var results = Model.TournamentResults
						.Where(x => x.MatchId == m.Id)
						.OrderBy(y => y.UserId == pm.Key)
						.ToList();
					if (results.Count > 0)
					{
						<td>@(results[0].MatchResult) - @(results[1].MatchResult)</td>
					}
					else
					{
						<td>Not played</td>
					}
				}
			</tr>
			row += 1;
			cell = 0;
		}
	</table>
</div>
