@page
@model DuelSys_inc_WebApp.Pages.SingleEliminationMatchesModel
@{
}
<section class="h-100" id="bracket">
	<div class="container h-100 w-75 d-flex justify-content-center" id="page-wapper">
		<div class="row align-items-center h-100 w-75 position-absolute">
			<div class="col h-100 position-relative">
				<div class="d-flex flex-column justify-content-around h-100">
					<table class="table table-dark table-hover">
						<td class="d-block">Wake Forest<span class="score">64</span></td>
						<td class="d-block">Clemson<span class="score">56</span></td>
					</table>
					<table class="table table-dark table-hover">
						<td class="d-block">Wake Forest<span class="score">64</span></td>
						<td class="d-block">Clemson<span class="score">56</span></td>
					</table>
					<table class="table table-dark table-hover">
						<td class="d-block">Wake Forest<span class="score">64</span></td>
						<td class="d-block">Clemson<span class="score">56</span></td>
					</table>
					<table class="table table-dark table-hover">
						<td class="d-block">Wake Forest<span class="score">64</span></td>
						<td class="d-block">Clemson<span class="score">56</span></td>
					</table>
					<table class="table table-dark table-hover">
						<td class="d-block">Wake Forest<span class="score">64</span></td>
						<td class="d-block">Clemson<span class="score">56</span></td>
					</table>
					<table class="table table-dark table-hover">
						<td class="d-block">Wake Forest<span class="score">64</span></td>
						<td class="d-block">Clemson<span class="score">56</span></td>
					</table>
					<table class="table table-dark table-hover">
						<td class="d-block">Wake Forest<span class="score">64</span></td>
						<td class="d-block">Clemson<span class="score">56</span></td>
					</table>
					<table class="table table-dark table-hover">
						<td class="d-block">Wake Forest<span class="score">64</span></td>
						<td class="d-block">Clemson<span class="score">56</span></td>
					</table>
				</div> <!-- END ROUND ONE -->
			</div>
			<div class="col h-100 position-relative">
				<div class="d-flex flex-column justify-content-around h-100">
					<table class="table table-dark table-hover">
						<td class="d-block">Wake Forest<span class="score">64</span></td>
						<td class="d-block">Clemson<span class="score">56</span></td>
					</table>
					<table class="table table-dark table-hover">
						<td class="d-block">Wake Forest<span class="score">64</span></td>
						<td class="d-block">Clemson<span class="score">56</span></td>
					</table>
					<table class="table table-dark table-hover">
						<td class="d-block">Wake Forest<span class="score">64</span></td>
						<td class="d-block">Clemson<span class="score">56</span></td>
					</table>
					<table class="table table-dark table-hover">
						<td class="d-block">Wake Forest<span class="score">64</span></td>
						<td class="d-block">Clemson<span class="score">56</span></td>
					</table>
				</div>
			</div><!-- END ROUND TWO -->
			<div class="col h-100 position-relative">
				<div class="d-flex flex-column justify-content-around h-100">
					<table class="table table-dark table-hover">
						<td class="d-block">Wake Forest<span class="score">64</span></td>
						<td class="d-block">Clemson<span class="score">56</span></td>
					</table>
					<table class="table table-dark table-hover">
						<td class="d-block">Wake Forest<span class="score">64</span></td>
						<td class="d-block">Clemson<span class="score">56</span></td>
					</table>
				</div> <!-- END ROUND THREE -->
			</div>
			<div class="col h-100 position-relative">
				<div class="d-flex flex-column justify-content-around h-100">
					<table class="table table-dark table-hover">
						<td class="d-block">Wake Forest<span class="score">64</span></td>
						<td class="d-block">Clemson<span class="score">56</span></td>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>