@page
@model DuelSys_inc_WebApp.Pages.TournamentsModel
@{
}

<section id="banner">
	<h2>Tournaments</h2>
</section>

<section id="main" class="container">
	<div class="row">
		<div class="col-6 col-12-narrower">
			<section class="box special">
				<span class="image featured">
					<img src="img/pic02.jpg" alt="" />
				</span>
				<h3>Badminton</h3>
				<p>Here you can see all the info about upcoming and on going Badminton tournaments.</p>
				<ul class="actions special">
					<li>
						<a href="/Badminton" class="button alt">Learn More</a>
					</li>
				</ul>
			</section>
		</div>
		<div class="col-6 col-12-narrower">
			<section class="box special">
				<span class="image featured">
					<img src="img/pic03.jpg" alt="" />
				</span>
				<h3>Mixed Martial Arts</h3>
				<p>Here you can see all the info about upcoming and on going MMA tournaments.</p>
				<ul class="actions special">
					<li>
						<a href="#" class="button alt">Learn More</a>
					</li>
				</ul>
			</section>
		</div>
	</div>
</section>
