@page
@model DuelSys_inc_WebApp.Pages.TournamentsModel
@{
}

<script>
	const submitTournamentSportName = (sportName) => {
		const input = document.getElementById("sportName-input")
		const form = document.getElementById("tournament-form")
		input.value = sportName
		console.log(sportName)
		form.submit()
	}
</script>

<section id="banner">
	<h2>Tournaments</h2>
</section>


<form method="post" id="tournament-form">
<input asp-for="TournamentSportName" id="sportName-input" type="hidden" />
	<section id="main" class="container">
		<div class="row">
			<div class="col-6 col-12-narrower">
				<section class="box special">
					<span class="image featured">
						<img src="img/pic02.jpg" alt="" />
					</span>
					<h3>Badminton</h3>
					<p>Here you can see all the info about upcoming and on going Badminton tournaments.</p>
					<ul class="actions special">
						<li>
							<button type="submit" class="button alt" onclick="submitTournamentSportName('Badminton')">Show info</button>
						</li>
					</ul>
				</section>
			</div>
			<div class="col-6 col-12-narrower">
				<section class="box special">
					<span class="image featured">
						<img src="img/pic03.jpg" alt="" />
					</span>
					<h3>Chess</h3>
					<p>Here you can see all the info about upcoming and on going Chess tournaments.</p>
					<ul class="actions special">
						<li>
							<button type="submit" class="button alt" onclick="submitTournamentSportName('Chess')">Show info</button>
						</li>
					</ul>
				</section>
				<section class="box special">
					<span class="image featured">
						<img src="img/pic03.jpg" alt="" />
					</span>
					<h3>Tennis</h3>
					<p>Here you can see all the info about upcoming and on going Tennis tournaments.</p>
					<ul class="actions special">
						<li>
							<button type="submit" class="button alt" onclick="submitTournamentSportName('Tennis')">Show info</button>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</section>
</form>
