<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - DuelSys_inc_WebApp</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />

</head>
<header id="header" class="alt">
	<h1><a href="">DuelSys Inc.</a> sport tournaments</h1>
	<nav id="nav">
		<ul>
			<li><a href="Index">Home</a></li>
			@{
				if (User.Identity.IsAuthenticated)
				{
					<li><a asp-page="Profile">Profile</a></li>
					<li> <a asp-page="Logout" asp-route-returnUrl="Context.Request.Path" class="button">Logout</a></li>
				}
				else
				{
					<li><a href="Login" class="button">Login</a></li>
				}
			}
		</ul>
	</nav>
</header>
<main role="main" class="pb-3">
	@RenderBody()
</main>

<footer id="footer">
	<ul class="copyright">
		<li>&copy; DuelSys. All rights reserved.</li>
	</ul>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/jquery.min.js" asp-append-version="true"></script>
<script src="~/js/jquery.dropotron.min.js" asp-append-version="true"></script>
<script src="~/js/jquery.scrollex.min.js" asp-append-version="true"></script>
<script src="~/js/browser.min.js" asp-append-version="true"></script>
<script src="~/js/breakpoints.min.js" asp-append-version="true"></script>
<script src="~/js/util.js" asp-append-version="true"></script>
<script src="~/js/main.js" asp-append-version="true"></script>


@await RenderSectionAsync("Scripts", required: false)
@await Component.InvokeAsync("Notyf")

</html>