.tournament-register-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    margin-bottom: 1px;
    background: white;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-header {
    all: unset;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.card-header > img {
    margin-right: 1rem;
}

.no-bullet-list {
    list-style-type: none;
}

.animated-progress {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 20px 10px;
    border: 1px solid rgb(189, 113, 113);
    overflow: hidden;
    position: relative;
}

.animated-progress span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
}

.progress-green span {
    background-color: lightgreen;
}

.tournament-register {
    vertical-align: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}


#leaderboard {
    padding: 50px;
}

.leaderboard-results {
    text-align: left;
    border-collapse: collapse;
}

    .leaderboard-results thead th {
        padding: 10px;
        padding-top: 30px;
        color: black;
        font-size: 1.1rem;
        font-weight: bold;
    }

    .leaderboard-results tbody td {
        padding: 15px 25px;
        background: #1a1a1a;
        font-size: 16px;
        border-bottom: 5px solid white;
    }

.leaderboard-results tbody td {
    font-weight: bold;
}

.leaderboard-results tbody tr:hover td {
    background: #1d1d1d;
}


.leaderboard-results tbody {
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 50%;
}


.leaderboard-results tbody tr {
    background: #262626;
    color: white;
}

h4.tournament-register {
    margin: unset;
}

:root {
    --button-background: dodgerblue;
    --button-color: white;
    --dropdown-highlight: dodgerblue;
    --dropdown-width: 160px;
    --dropdown-background: white;
    --dropdown-color: black;
}

/*input#filter {
     Frame 
    display: inline-block;
    padding: 20px 28px;
    border-radius: 50px;
    box-sizing: border-box;
     Style 
    border: none;
    background: var(--button-background);
    color: var(--button-color);
    font-size: 24px;
    cursor: pointer;
}*/

input#filter:active {
    filter: brightness(75%);
}

/* Dropdown styles */
.dropdown {
    position: relative;
    padding: 0;
    margin-right: 1em;
    border: none;
}

    .dropdown summary {
        list-style: none;
        list-style-type: none;
    }

    .dropdown > summary::-webkit-details-marker {
        display: none;
    }

    .dropdown summary:focus {
        outline: none;
    }

        .dropdown summary:focus input#filter {
            border: 2px solid white;
        }

    .dropdown summary:focus {
        outline: none;
    }

    .dropdown ul {
        position: absolute;
        margin: 20px 0 0 0;
        padding: 20px 0;
        width: var(--dropdown-width);
        left: 50%;
        margin-left: calc((var(--dropdown-width) / 2) * -1);
        box-sizing: border-box;
        z-index: 2;
        background: var(--dropdown-background);
        border-radius: 6px;
        list-style: none;
    }

        .dropdown ul li {
            padding: 0;
            margin: 0;
        }

            .dropdown ul li input, .dropdown ul li input:visited {
                display: inline-block;
                padding: 10px 0.8rem;
                width: 100%;
                box-sizing: border-box;
                color: var(--dropdown-color);
                text-decoration: none;
            }

            .dropdown ul li input:hover {
                background-color: var(--dropdown-highlight);
                color: var(--dropdown-background);
            }

        /* Dropdown triangle */
        .dropdown ul::before {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            top: -10px;
            left: 50%;
            margin-left: -10px;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent var(--dropdown-background) transparent;
        }


    /* Close the dropdown with outside clicks */
    .dropdown > summary::before {
        display: none;
    }

    .dropdown[open] > summary::before {
        content: ' ';
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
    }

