.tournament-register-card {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    margin-bottom: 1px;
    background: white;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-header {
    all: unset;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.card-header > img {
    margin-right: 1rem;
}

.no-bullet-list {
    list-style-type: none;
}

.animated-progress {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 20px 10px;
    border: 1px solid rgb(189, 113, 113);
    overflow: hidden;
    position: relative;
}

.animated-progress span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
}

.progress-green span {
    background-color: lightgreen;
}

.tournament-register {
    vertical-align: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}


#leaderboard {
    padding: 50px;
}

.leaderboard-results {
    text-align: left;
    border-collapse: collapse;
}

    .leaderboard-results thead th {
        padding: 10px;
        padding-top: 30px;
        color: black;
        font-size: 1.1rem;
        font-weight: bold;
    }

    .leaderboard-results tbody td {
        padding: 15px 25px;
        background: #1a1a1a;
        font-size: 16px;
        border-bottom: 5px solid white;
    }

.leaderboard-results tbody td {
    font-weight: bold;
}

.leaderboard-results tbody tr:hover td {
    background: #1d1d1d;
}


.leaderboard-results tbody {
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 50%;
}


.leaderboard-results tbody tr {
    background: #262626;
    color: white;
}
